@inject SessionManager SessionManager
@implements IDisposable

@if (session is not null)
{
    <div class="root">
        <header>
            <h1>@session.Title</h1>
            <div class="qr-code" style="background-image: url(@session.QRCode)"></div>
        </header>
        <main>
            @if (sessionState is not null)
            {
                if (sessionState.IsActive)
                {
                    @ChildContent?.Invoke(new PartySessionArgs(session, sessionState))
                }
                else
                {
                    @:The session is no longer available.
                }
            }
        </main>
    </div>
}
else
{
    <b>The session '@SessionId' does not exist.</b>
}

@code {
    private PartySession? session;
    private PartySessionState? sessionState = null;
    private IDisposable? sessionStateSubscription;

    public record PartySessionArgs(PartySession Session, PartySessionState State);

    [Parameter]
    public Guid SessionId { get; set; }

    [Parameter]
    public RenderFragment<PartySessionArgs>? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        session = SessionManager.TryGetSession(SessionId);

        sessionStateSubscription = session?.State.Subscribe(state =>
        {
            sessionState = state;
            InvokeAsync(StateHasChanged);
        });
    }

    public void Dispose()
    {
        if (session is not null)
        {
            sessionStateSubscription?.Dispose();
            //session.Dispose();
        }
    }
}