.track-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.track-list-item {
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}

    .track-list-item:hover {
        background: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .3);
    }

.actions {
    display: grid;
}
