<div class="track-list">
    @foreach (var track in Tracks ?? Enumerable.Empty<FullTrack>())
    {
        <div class="track-list-item">
            <TrackInfo Track="track" />
            
            <div class="actions">
                @Actions?.Invoke(track)
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<FullTrack>? Tracks { get; set; }

    [Parameter]
    public RenderFragment<FullTrack>? Actions { get; set; }
}