<div class="track-list">
    <div class="inner">
        @foreach (var track in Tracks ?? Enumerable.Empty<FullTrack>())
        {
            <TrackInfo Track="track">
                <Actions>
                    @Actions?.Invoke(track)
                </Actions>
            </TrackInfo>
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<FullTrack>? Tracks { get; set; }

    [Parameter]
    public RenderFragment<FullTrack>? Actions { get; set; }
}