@page "/"

@inject NavigationManager NavigationManager
@inject SessionManager SessionManager

<PageTitle>Party Mode for Spotify</PageTitle>

<div class="root">
    <h1>Party Mode for Spotify</h1>
    <Button Click="CreateSession" Text="Host a Party" />
    <Button Click="JoinSession" Text="Join a Party" />
</div>

@code {
    public const string RedirectUri = "/host";

    private void CreateSession()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void JoinSession()
    {
        var sessionId = SessionManager.FirstSession?.Id;
        NavigationManager.NavigateTo($"/client/{sessionId}");
    }
}