@page "/client/{SessionId:guid}"
@using System.Collections.Immutable

<PartySessionPage SessionId="@SessionId">
    <h2>Currently Playing</h2>

    <TrackInfo Track="context.State.CurrentTrack" />

    <h2>Search & Add to Queue</h2>

    <EditForm Model="this" OnSubmit="() => OnSubmitSearch(context.Session)" Context="formContext">
        <div class="search-form">
            <InputText @bind-Value="searchText" />
            <Button IsSubmit="true" Icon="Icons.Zoom" Text="Search" />
        </div>
    </EditForm>

    <TrackList Tracks="searchResults">
        <Actions Context="track">
            <Button Icon="Icons.Add" Text="Queue" Click="() => context.Session.EnqueueTrackAsync(track)" />
        </Actions>
    </TrackList>
</PartySessionPage>

@code {
    private string searchText = "";
    private IReadOnlyList<FullTrack> searchResults = ImmutableList<FullTrack>.Empty;

    [Parameter]
    public Guid SessionId { get; set; }

    private async Task OnSubmitSearch(PartySession session)
    {
        searchResults = await session.SearchAsync(searchText);
    }
}