@page "/host/{SessionId:guid}"

@inject IJSRuntime JS
@inject HttpClient HttpClient
@inject SessionManager SessionManager

<PartySessionPage SessionId="SessionId">

    <SpotifyWebPlayer Volume="volume"
                      AccessToken="@context.State.AccessToken"
                      PlayerName="@context.Session.Title"
                      Ready="async playerInfo => await OnPlayerReadyAsync(playerInfo, context.Session)"
                      PlayerStateChanged="async state => await OnPlayerStateChangedAsync(state, context.Session)"
                      @bind-IsPaused="isPaused" />

    <h2>Currently playing</h2>

    <div class="controls">
        <Button Click="() => volume = Math.Max(0, volume - .1)"
                Icon="Icons.Volume"
                Text="-" />

        <Button Click="() => volume = Math.Min(1, volume + .1)"
                Icon="Icons.Volume"
                Text="+" />

        <Button Click="() => context.Session.SkipToNextTrackAsync()"
                Icon="Icons.Next"
                Text="Skip" />

        @if (isPaused)
        {
            <Button Click="() => isPaused = false"
                Icon="Icons.Play"
                Text="Play" />
        }
        else
        {
            <Button Click="() => isPaused = true"
                Icon="Icons.Pause"
                Text="Pause" />
        }
    </div>

    @(context.State.CurrentTrack?.Name ?? "(Nothing)")

    <h2>Up next</h2>

    <TrackList Tracks="context.State.Queue" />

</PartySessionPage>

@code {
    private double volume = .5;
    private bool isPaused = false;
    private WebPlaybackState? previousState = null;

    [Parameter]
    public Guid SessionId { get; set; }

    private async Task OnPlayerReadyAsync(WebPlaybackPlayer playerInfo, PartySession session)
    {
        await session.SetPlaybackDeviceAsync(playerInfo.DeviceId);
    }

    private async Task OnPlayerStateChangedAsync(WebPlaybackState state, PartySession session)
    {
        var prevState = previousState;
        previousState = state;

        if (prevState is not null && state is not null &&
            prevState.TrackWindow.CurrentTrack?.Id == state.TrackWindow.CurrentTrack?.Id &&
            prevState.PositionMilliseconds > 0 && state.PositionMilliseconds == 0)
        {
            await session.SkipToNextTrackAsync();
        }
    }
}