.search-form {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 12px;
    gap: 8px;
/*    max-width: 500px;*/
    background: rgba(255, 255, 255, .1);
    border: 1px solid white;
    border-radius: 8px;
}

    .search-form ::deep button {
        border: none;
    }

    .search-form ::deep input {
        color: white;
        padding: 2px 8px;
        background: none;
        border: none;
    }

    .search-form ::deep input:focus {
        border: none;
        outline: none;
    }
